* {
	box-sizing: border-box;
}

body {
	margin: 0 4.5%;
	font-family: 'Roboto Mono', monospace;
}

header {
}
/* navigations */
nav {
	width: 100%;
	margin-bottom: 1%;
}

li {
	display: inline-block;
	margin: 0 2% 0 12%;
	border: none;
	list-style-type: none;
}

button {
	border: none;
	width: 14vw;
	height: 10.5vh;
	border-radius: 20%;
	margin-bottom: 38%;
	color: white;
	text-align: center;
	font-size: 1.5rem;
}

.plan {
	background-color: #ff754e;
}

.learn {
	background-color: #7edbee;
	margin-top: 5%;
}

.get {
	background-color: #ffcd6a;
	padding-left: -5%;
}

/*header*/

.title {
	font-size: 4.5rem;
	font-family: 'Chelsea Market', cursive;
	display: inline-block;
	margin: -18% 10% 2% -2%;
}

.intro {
	display: inline-block;
	margin: auto 1.2% 2% 4%;
	height: 52vh;
	/* border: 3px solid black; */
}

.intro-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;
	margin-top: -24%;
	margin-left: 33%;
	margin-bottom: -1%;
}

header img {
	height: 46vh;
	width: 23vw;
	border-radius: 60%;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.tagline {
	margin: -1% 6% 3% 6%;
	padding-top: 3%;
}

.info {
	margin-left: 8%;
	text-align: center;
	padding-top: 1%;
}

header p {
	display: inline-block;
	margin: auto 20%;
}

/* Content */

.div-content {
	background-color: #ddb9a3;
	color: white;
	height: 29vh;
	font-size: 1.5rem;
	text-align: center;
}

.div-content p {
	padding: 0.9%;
}

/*sections*/

section {
	margin: 2% 39%;
	text-align: center;
}

section img {
	height: 21vh;
	width: 10vw;
	margin: 2% auto;
}

section p {
	margin: 3% auto 15% auto;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:hover {
	color: pink;
}

/*footer */
footer {
	margin: 8% -10% 2% -10%;
	background-color: #f9e7dd;
}
#footer-banner-div {
	height: 42vh;
	overflow: hidden;
	margin: -1% -10% 2% -10%;
}

#footer-banner {
	width: 100%;
	height: 80vh;
}

footer button {
	margin-left: 50%;
	/* margin-right: -20%; */
}

footer .learn {
	background-color: #7edbee;
	margin-left: 30%;
}

.get {
	background-color: #ffcd6a;
	margin-left: 10%;
}

/*

footer color #f9e7dd */
